
img, form {
	margin:0;
	padding:0;
	border:0;
}

a {
	text-decoration: none;
}
a:link, a:visited {
	color:#063685;
	text-decoration:none;
}
a:hover, a:active {
	color:#FF5500;
	text-decoration:underline;
}

table.default {
	border:1px solid #0283c5;
	border-collapse:collapse;
	margin-top:5px;
}
table.default td, table.default tr.style1 td {
	padding:2 5 2 5;
	height:26px;
	border:1px solid #ffffff;
}
table.default tr, table.default tr.style1{
	background-color:#f0f0f0;
}
table.default tr.style0{
	background-color:#dfdfdf;
}
table.default tr.title td, table.default tr.ltitle td {
	font-weight:bold;
	background:#0283c5;
	color:#ffffff;
	border:1px solid #ffffff;
	white-space:nowrap;
	height:26px;
	line-height:26px;
	vertical-align:middle;
}
table.default tr.ltitle td {
	text-align:left;
}
table.default tr.title td {
	text-align:center;
	line-height:26px;
	vertical-align:middle;
}
table.default tr.subtitle td ,table.default tr.lsubtitle td {
	font-weight:bold;
	background:#69f;
	color:#ffffff;
	border:1px solid #ffffff;
	white-space:nowrap;
	height:26px;
	line-height:26px;
	vertical-align:middle;
}
table.default tr.lsubtitle td {
	text-align:left;
}
table.default tr.subtitle td {
	text-align:center;
}

table.default tr.strong td {
	font-weight:bold;
	background:#DDD;
}

table.default tr.stronghl td {
	font-weight:bold;
	background:#FFCC99;
	text-align:center;
}

table.default tr.hl td {
	background:#ffffcc/*#FFFF99*/;
}

table.default td.item {
	font-weight:bold;
	color:#333333;
	text-align:right;
}

table.default td.text {
	line-height:150%;
}

table.default td.opt {
	background:#FFFF99;
	padding-right:10px;
}

table.explain {
	margin-top:5px;
	margin-bottom:5px;
}
table.explain td {
	font-family:宋体;
	font-size:12px;
	border:1px solid #333333;
	background:#f0f0f0;
	padding:8px;
	line-height:120%;
}

table.pages {
	border:0;
}
table.pages td {
	height:26px;
}

table.reswb {
	border:1px solid #0283c5;
	border-collapse:collapse;
	margin-top:10px;
}

table.reswb tr.title td {
	padding:2 5 2 5;
	font-weight:bold;
	background:#0283c5;
	color:#ffffff;
	border:1px solid #ffffff;
	white-space:nowrap;
	height:26px;
	line-height:26px;
	vertical-align:middle;
}

table.default tr.list{
	text-align: center;	
	line-height:26px;
	vertical-align:middle;
}
